@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>

<br />
<br />
<br />
@ViewBag.bookpickdate
@ViewBag.bookoffdate
@ViewBag.timepick
@ViewBag.timeoff
@ViewBag.locationId
<br />
<br />
<br />


