@{
	ViewData["Title"] = "İstatistikler";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="page-content">
	<div class="container-fluid">
		<!-- Title1-->
	</div>
	
	<div class="row">
		<div class="col-md-6 col-xl-3">
			<div class="card bg-primary border-primary">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Araç</span>
						<h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center mb-0 text-white">
								# @ViewBag.carCount
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-success border-success">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
						<h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.locationCount
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3 ">
			<div class="card bg-warning border-warning">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Toplam Personel</span>
						<h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.authorCount
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-info border-info">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
						<h5 class="card-title mb-0 text-white">Blog Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.blogCount
							</h2>
						</div>

					</div>


				</div>
			</div>
		</div> <!-- end col-->
	</div>
	<!-- End Title1-->
	<!-- Title2-->
	<div class="row">
		<div class="col-md-6 col-xl-3">
			<div class="card bg-primary border-primary">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Markalar</span>
						<h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center mb-0 text-white">
								# @ViewBag.BrandCount
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-success border-success">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Günlük</span>
						<h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.avgRentPriceForDaily ₺
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-warning border-warning">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Haftalık</span>
						<h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.avgRentPriceForWeekly ₺
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-info border-info">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Aylık</span>
						<h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.avgRentPriceForMonthly ₺
							</h2>
						</div>

					</div>


				</div>
			</div>
		</div> <!-- end col-->
	</div>
	<!-- End Title2-->
	<!-- Title3-->
	<div class="row">
		<div class="col-md-6 col-xl-3">
			<div class="card bg-primary border-primary">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Araç Sayısı</span>
						<h5 class="card-title mb-0 text-white">Otomatik Vites</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center mb-0 text-white">
								# @ViewBag.carCountByTransmissionIsAuto
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-success border-success">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Marka</span>
						<h5 class="card-title mb-0 text-white">En Fazla Araca Sahip Olan</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								"@ViewBag.brandNameByMaximumCar"
							</h2>
						</div>

					</div>


				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-warning border-warning">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Blog</span>
						<h5 class="card-title mb-0 text-white">En Çok Yorum Yapılan</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								"@ViewBag.BlogTitleByMaxBlogComment"
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-info border-info">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Araç</span>
						<h5 class="card-title mb-0 text-white">10.000 Km Altındaki Araç Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.carCountByBeloveThan10000Km
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->
	</div>
	<!-- End Title3-->
	<!-- Title4-->
	<div class="row">
		<div class="col-md-6 col-xl-3">
			<div class="card bg-primary border-primary">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Araç</span>
						<h5 class="card-title mb-0 text-white">Benzin veya Dizel Araç Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center mb-0 text-white">
								# @ViewBag.carCountByGasolineOrDiesel
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-success border-success">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Araç</span>
						<h5 class="card-title mb-0 text-white">Elektrikli Araç Sayısı</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h2 class="d-flex align-items-center text-white mb-0">
								# @ViewBag.carCountByFuelElectric
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-warning border-warning">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Günlük</span>
						<h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h4 class="d-flex align-items-center text-white mb-0">
								"@ViewBag.carBrandAndModelByRentPriceMax"
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end col-->

		<div class="col-md-6 col-xl-3">
			<div class="card bg-info border-info">
				<div class="card-body">
					<div class="mb-4">
						<span class="badge badge-soft-light float-right">Günlük</span>
						<h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
					</div>
					<div class="row d-flex align-items-center mb-4">
						<div class="col-8">
							<h4 class="d-flex align-items-center text-white mb-0">
								"@ViewBag.carBrandAndModelByRentPriceMin"
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end col-->
</div>
<!-- End Title4-->


